/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/logo-light.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/images/logo/logo-dark.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}
:root{
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');
}

.pg-member-form {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.pg-member-form div {
  margin-bottom: 10px;
}

.pg-member-form label {
  display: block;
  margin-bottom: 5px;
}

label{
  color: black !important;
}

.pg-member-form input,
.pg-member-form button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.pg-member-form button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.pg-member-form button:hover {
  background-color: #0056b3;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.radio-options {
  display: flex;
  gap: 10px; /* Adjust spacing between radio buttons */
}